body{
    background: pink;
    color:black;
}

header {
    border-bottom: solid 2px rgb(228, 42, 132);
    padding: 20px;
    font-size: 32px;
    color: rgb(228, 42, 132);
}

section {
    background: pink;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

img{
    height: 200px;
}
h1 {
    font-size: 40px;
  }.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  
  p {
    font-size: 20px;
  }